extends default

block content
  div.logo
    a(href='https://github.com/bengouma')
      img(src='../images/github.png')
  div.logo
    a(href='../images/resume.pdf')
      img(src='../images/page.png')
  div.container
    h1 Hello! My name is Ben Goumalatsos <br><br>
    h3 I am a freelance Software Engineer who specializes in backend development with anything from websites and web apps to mobile applications. Read more about some of the projects I have worked on below:
  div.oneline
    h1 Worldwide Headquarters of Jehovah's Witnesses 
    br
    p I have been supporting the worldwide headquarters of Jehovah's Witnesses since March of 2019. I help design and maintain our AWS infrastructure and make use of technologies such as Docker, Git, CI/CD pipelines, Kubernetes, AWS CloudFormation, S3, EC2, CloudFront, etc. I also help test and deploy new technologies for our other teams in the Computer Department.
    br
    a(href='https://www.jw.org')
      img(src='../images/jw.png')
  div.oneline
    h1 Cameo Consulting
    br
    p When contributing to the Cameo Consulting online store, I designed, tested, and deployed the teams CI/CD pipeline to easily containerize and deploy their applications for testing and productions environments. I also setup their Google Cloud systems so they can have all their container images in one place and easily deploy and test things such as new features using Cloud Run and then deploy them to a production Cloud Run Service.
  div.oneline
    h1 The Lincoln Project
    br
    p I have contributed to the back end development of the Lincoln Project from April 2020 and am still contributing to this project. I have created, tested, and deployed Python webhooks that run on AWS Lambda, have worked with REST APIs, and helped design the general data pipeline so incoming data can be easily processed and moved where needed.
    br
    a(href='https://lincolnproject.us')
      img(src='../images/lincoln.png')
  div.oneline
    h1 Google Foobar
    br
    p Google’s Foobar challenge is a secret recruitment challenge from Google that tests a chosen engineer’s knowledge in various computing and mathematical concepts such as various binary tree search algorithms, number theory, graph theory, dynamic programming, etc. I was chosen to participate in Google’s Foobar challenge when I was doing research for a project at work. The challenge started out easy, testing problems such as comparing two arrays to find the outlying elements and the search algorithm breadth-first search, and eventually getting harder, testing skills in concepts such as Markov Chains, the Floyd-Warshall algorithm, and finding the maximum matchings of vertices in a given graph. This was a very fun challenge and I learned a lot from it.
    br
    img(src='../images/foobar.png')