extends default

block content
  div.logo
    a(href='https://github.com/bengouma')
      img(src='../images/github.png')
  div.logo
    a(href='https://www.linkedin.com/in/benjamin-goumalatsos-25924794/')
      img(src='../images/linkedin.png')
  div.logo
    a(href='../images/resume.pdf')
      img(src='../images/page.png')
  div.container
    h1 Hello! My name is Ben Goumalatsos 
    br
    br
    h3 I am a Software Engineer who specializes in DevOps and backend development, working on anything from establishing and maintaining Kubernetes clusters to creating robust CI/CD pipelines. Read more about some of the projects I have worked on below:
  div.oneline
    h1 IDDataWeb - Support Engineer
    br 
    p 04/2024 - Present
    br
    p As a support engineer with IDDataWeb, I am responsible for helping our customers resolve any issues they have using our API and Gateway services. Being the first point of contact for the company when users need help, an in-depth knowledge of our systems is required to assist as soon as possible. I have also improved my team's internal workflow by writing detailed documentation and improving the tracking system for our tickets by standardizing how they are documented.
    br
    a(href='https://iddataweb.com')
      img(src='../images/iddataweb.png')
  div.oneline
    h1 SAP Concur - Software Engineer
    br
    p 03/2021 - 04/2024
    br
    p In March of 2021, I was offered the opportunity to join the software engineering team at SAP Concur, and I accepted with full enthusiasm. Some of my daily activities included managing CI/CD pipelines, developing and testing new features, administering databases, and engineering services in Go. Being able to support Concur and contribute to the development and innovation of their services has been an amazing experience and I have grown tremendously with them.
    br
    a(href='https://www.concur.com')
      img(src='../images/concur.jpg')
  div.oneline
    h1 Worldwide Headquarters of Jehovah's Witnesses - Software Engineer
    br
    p 03/2019 - 12/2022
    br
    p I had the wonderful privilege of supporting the Worldwide Headquarters of Jehovah's Witnesses from March of 2019 to December 2022. I helped design and maintain our AWS infrastructure and make use of technologies such as Docker, Git, CI/CD pipelines, Kubernetes, AWS CloudFormation, S3, EC2, CloudFront, etc. I also helped test and deploy new technologies for our other teams in the Application Services Department.
    br
    a(href='https://www.jw.org')
      img(src='../images/jw.png')
  div.oneline
    h1 Google Foobar
    br
    p Google’s Foobar challenge is a secret recruitment challenge from Google that tests a chosen engineer’s knowledge in various computing and mathematical concepts such as various binary tree search algorithms, number theory, graph theory, dynamic programming, etc. I was chosen to participate in Google’s Foobar challenge when I was doing research for a project at work. The challenge started out easy, testing problems such as comparing two arrays to find the outlying elements and the search algorithm breadth-first search, and eventually getting harder, testing skills in concepts such as Markov Chains, the Floyd-Warshall algorithm, and finding the maximum matchings of vertices in a given graph. This was a very fun challenge and I learned a lot from it.
    br
    img(src='../images/foobar.png')
  div.oneline
    h1 The Lincoln Project - Software Engineer
    br
    p 04/2020 - 07/2020
    br
    p I have contributed to the back end development of the Lincoln Project from April 2020 to July 2020, assisting in their migration to a serverless infrastructure. I have created, tested, and deployed Python webhooks that run on AWS Lambda, have worked with REST APIs, and helped design the general data pipeline so incoming data can be easily processed and moved where needed.
    br
    a(href='https://lincolnproject.us')
      img(src='../images/lincoln.png')
