extends default

block content
  div.logo
    a(href='https://github.com/bengouma')
      img(src='../images/github.png')
  div.logo
    a(href='../images/resumeSite.pdf')
      img(src='../images/page.png')
  div.container
    h1 Hello! My name is Ben Goumalatsos <br><br>
    h3 I am a freelance Software Engineer who specializes in backend development with anything from websites and web apps to mobile applications. Read more about some of the projects I have worked on below:
  div.oneline
    h1 Worldwide Headquarters of Jehovah's Witnesses 
    br
    p I have been supporting the worldwide headquarters of Jehovah's Witnesses since March of 2019. I help design and maintain our AWS infrastructure and make use of technologies such as Docker, Git, CI/CD pipelines, Kubernetes, AWS CloudFormation, S3, EC2, CloudFront, etc.
    br
    a(href='https://www.jw.org')
      img(src='../images/jw.png')
  div.oneline
    h1 Cameo Consulting
    br
    p When contributing to the Cameo Consulting online store, I created the teams CI/CD pipeline to easily containerize and deploy their applications for testing and deployment. I also setup their Google Cloud Environment so they can have all their container images in one place and easily deploy and test things such as new features using Cloud Run and then deploy them to a production Cloud Run Service.
  div.oneline
    h1 The Lincoln Project
    br
    p I have contributed to the back end development of the Lincoln Project from April 2020 and am still contributing to this project. I have created Python webhooks that run on AWS Lambda, worked with REST APIs, and helped build the general data pipeline so incoming data can be easily processed and moved where needed.
    br
    a(href='https://lincolnproject.us')
      img(src='../images/lincoln.png')
