html {
  box-sizing: border-box;
  background-color: #FCF2D8;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #B32303;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: #FCF2D8;
  float: right;
  padding: 5px;
}

.logo img {
  width: 100%;
  height: auto;
}

.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.oneline {
  width: 400px;
  margin: 10px;
  border: 5px solid black;
  box-shadow: 5px 5px;
  padding: 5px;
  vertical-align: top;;
  display: inline-block;
  align-items: center;
  text-align: justify;
  background-color: #C2B280;
  font-size: 100%;
  font-weight: bold;
}

.oneline img {
  width: 100%;
  height: auto;
}
